{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint"],
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
  "ignorePatterns": ["**/migrations/*.js"],
  "rules": {
    "@typescript-eslint/no-unused-vars": "error"
  },
  "env": {
    "browser": true,
    "es2021": true
  },
}